# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next/
out/
dist/
.cache/
*.tsbuildinfo

# Typescript
*.d.ts

# Vercel
.vercel/

# Logs
logs/
*.log

# Editor
.vscode/
.idea/
.DS_Store
*.swp

# Env
.env
.env.local
.env.*.local

# OS
Thumbs.db
ehthumbs.db

# Git
.git/
.gitignore

# Package lock files (
